In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [2]:
bundes_1213_summary = "https://fbref.com/en/comps/20/2012-2013/2012-2013-Bundesliga-Stats"
bundes_1314_summary = "https://fbref.com/en/comps/20/2013-2014/2013-2014-Bundesliga-Stats"
bundes_1415_summary = "https://fbref.com/en/comps/20/2014-2015/2014-2015-Bundesliga-Stats"
bundes_1516_summary = "https://fbref.com/en/comps/20/2015-2016/2015-2016-Bundesliga-Stats"
bundes_1617_summary = "https://fbref.com/en/comps/20/2016-2017/2016-2017-Bundesliga-Stats"
bundes_1718_summary = "https://fbref.com/en/comps/20/2017-2018/2017-2018-Bundesliga-Stats"
bundes_1819_summary = "https://fbref.com/en/comps/20/2018-2019/2018-2019-Bundesliga-Stats"
bundes_1920_summary = "https://fbref.com/en/comps/20/2019-2020/2019-2020-Bundesliga-Stats"
bundes_2021_summary = "https://fbref.com/en/comps/20/2020-2021/2020-2021-Bundesliga-Stats"
bundes_2122_summary = "https://fbref.com/en/comps/20/2021-2022/2021-2022-Bundesliga-Stats"

In [3]:
table_1213 = pd.read_html(bundes_1213_summary)
table_1314 = pd.read_html(bundes_1314_summary)
table_1415 = pd.read_html(bundes_1415_summary)
table_1516 = pd.read_html(bundes_1516_summary)
table_1617 = pd.read_html(bundes_1617_summary)
table_1718 = pd.read_html(bundes_1718_summary)
table_1819 = pd.read_html(bundes_1819_summary)
table_1920 = pd.read_html(bundes_1920_summary)
table_2021 = pd.read_html(bundes_2021_summary)
table_2122 = pd.read_html(bundes_2122_summary)

In [4]:
bundes_summary_1213_df = pd.DataFrame(table_1213[0])
bundes_summary_1314_df = pd.DataFrame(table_1314[0])
bundes_summary_1415_df = pd.DataFrame(table_1415[0])
bundes_summary_1516_df = pd.DataFrame(table_1516[0])
bundes_summary_1617_df = pd.DataFrame(table_1617[0])
bundes_summary_1718_df = pd.DataFrame(table_1718[0])
bundes_summary_1819_df = pd.DataFrame(table_1819[0])
bundes_summary_1920_df = pd.DataFrame(table_1920[0])
bundes_summary_2021_df = pd.DataFrame(table_2021[0])
bundes_summary_2122_df = pd.DataFrame(table_2122[0])

In [5]:
table_1213 = pd.read_html(bundes_1213_summary)
table_1314 = pd.read_html(bundes_1314_summary)
table_1415 = pd.read_html(bundes_1415_summary)
table_1516 = pd.read_html(bundes_1516_summary)
table_1617 = pd.read_html(bundes_1617_summary)
table_1718 = pd.read_html(bundes_1718_summary)
table_1819 = pd.read_html(bundes_1819_summary)
table_1920 = pd.read_html(bundes_1920_summary)
table_2021 = pd.read_html(bundes_2021_summary)
table_2122 = pd.read_html(bundes_2122_summary)

bundes_age_1213_df = pd.DataFrame(table_1213[2])
bundes_age_1314_df = pd.DataFrame(table_1314[2])
bundes_age_1415_df = pd.DataFrame(table_1415[2])
bundes_age_1516_df = pd.DataFrame(table_1516[2])
bundes_age_1617_df = pd.DataFrame(table_1617[2])
bundes_age_1718_df = pd.DataFrame(table_1718[2])
bundes_age_1819_df = pd.DataFrame(table_1819[2])
bundes_age_1920_df = pd.DataFrame(table_1920[2])
bundes_age_2021_df = pd.DataFrame(table_2021[2])
bundes_age_2122_df = pd.DataFrame(table_2122[2])

In [6]:
bundes_age_1213_df = bundes_age_1213_df.droplevel(0, axis = 1)
bundes_age_1314_df = bundes_age_1314_df.droplevel(0, axis = 1)
bundes_age_1415_df = bundes_age_1415_df.droplevel(0, axis = 1)
bundes_age_1516_df = bundes_age_1516_df.droplevel(0, axis = 1)
bundes_age_1617_df = bundes_age_1617_df.droplevel(0, axis = 1)
bundes_age_1718_df = bundes_age_1718_df.droplevel(0, axis = 1)
bundes_age_1819_df = bundes_age_1819_df.droplevel(0, axis = 1)
bundes_age_1920_df = bundes_age_1920_df.droplevel(0, axis = 1)
bundes_age_2021_df = bundes_age_2021_df.droplevel(0, axis = 1)
bundes_age_2122_df = bundes_age_2122_df.droplevel(0, axis = 1)
bundes_age_2122_df.head()

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Arminia,26,25.8,40.7,34,374,3060,34.0,26,18,...,0.76,0.53,1.29,0.71,1.24,0.77,0.51,1.28,0.73,1.23
1,Augsburg,26,26.6,41.5,34,374,3060,34.0,39,26,...,1.15,0.76,1.91,1.00,1.76,1.08,0.70,1.78,0.96,1.67
2,Bayern Munich,30,26.8,64.5,34,374,3060,34.0,92,70,...,2.71,2.06,4.76,2.56,4.62,2.62,1.96,4.58,2.50,4.46
3,Bochum,28,28.0,44.7,34,374,3060,34.0,37,22,...,1.09,0.65,1.74,0.97,1.62,1.19,0.78,1.98,1.06,1.84
4,Dortmund,33,25.9,59.2,34,374,3060,34.0,81,57,...,2.38,1.68,4.06,2.06,3.74,1.88,1.32,3.21,1.64,2.97

In [7]:
url_1213_wages = "https://fbref.com/en/comps/20/2012-2013/wages/2012-2013-Bundesliga-Wages"
url_1314_wages = "https://fbref.com/en/comps/20/2013-2014/wages/2013-2014-Bundesliga-Wages"
url_1415_wages = "https://fbref.com/en/comps/20/2014-2015/wages/2014-2015-Bundesliga-Wages"
url_1516_wages = "https://fbref.com/en/comps/20/2015-2016/wages/2015-2016-Bundesliga-Wages"
url_1617_wages = "https://fbref.com/en/comps/20/2016-2017/wages/2016-2017-Bundesliga-Wages"
url_1718_wages = "https://fbref.com/en/comps/20/2017-2018/wages/2017-2018-Bundesliga-Wages"
url_1819_wages = "https://fbref.com/en/comps/20/2018-2019/wages/2018-2019-Bundesliga-Wages"
url_1920_wages = "https://fbref.com/en/comps/20/2019-2020/wages/2019-2020-Bundesliga-Wages"
url_2021_wages = "https://fbref.com/en/comps/20/2020-2021/wages/2020-2021-Bundesliga-Wages"
url_2122_wages = "https://fbref.com/en/comps/20/2021-2022/wages/2021-2022-Bundesliga-Wages"

In [8]:
table_1213 = pd.read_html(url_1213_wages)
table_1314 = pd.read_html(url_1314_wages)
table_1415 = pd.read_html(url_1415_wages)
table_1516 = pd.read_html(url_1516_wages)
table_1617 = pd.read_html(url_1617_wages)
table_1718 = pd.read_html(url_1718_wages)
table_1819 = pd.read_html(url_1819_wages)
table_1920 = pd.read_html(url_1920_wages)
table_2021 = pd.read_html(url_2021_wages)
table_2122 = pd.read_html(url_2122_wages)

In [9]:
bundes_wages_1213_df = pd.DataFrame(table_1213[0])
bundes_wages_1314_df = pd.DataFrame(table_1314[0])
bundes_wages_1415_df = pd.DataFrame(table_1415[0])
bundes_wages_1516_df = pd.DataFrame(table_1516[0])
bundes_wages_1617_df = pd.DataFrame(table_1617[0])
bundes_wages_1718_df = pd.DataFrame(table_1718[0])
bundes_wages_1819_df = pd.DataFrame(table_1819[0])
bundes_wages_1920_df = pd.DataFrame(table_1920[0])
bundes_wages_2021_df = pd.DataFrame(table_2021[0])
bundes_wages_2122_df = pd.DataFrame(table_2122[0])

In [10]:
bundes_1213_merged_df = pd.merge(bundes_summary_1213_df, bundes_wages_1213_df, how="left", on=['Squad'])
bundes_1314_merged_df = pd.merge(bundes_summary_1314_df, bundes_wages_1314_df, how="left", on=['Squad'])
bundes_1415_merged_df = pd.merge(bundes_summary_1415_df, bundes_wages_1415_df, how="left", on=['Squad'])
bundes_1516_merged_df = pd.merge(bundes_summary_1516_df, bundes_wages_1516_df, how="left", on=['Squad'])
bundes_1617_merged_df = pd.merge(bundes_summary_1617_df, bundes_wages_1617_df, how="left", on=['Squad'])
bundes_1718_merged_df = pd.merge(bundes_summary_1718_df, bundes_wages_1718_df, how="left", on=['Squad'])
bundes_1819_merged_df = pd.merge(bundes_summary_1819_df, bundes_wages_1819_df, how="left", on=['Squad'])
bundes_1920_merged_df = pd.merge(bundes_summary_1920_df, bundes_wages_1920_df, how="left", on=['Squad'])
bundes_2021_merged_df = pd.merge(bundes_summary_2021_df, bundes_wages_2021_df, how="left", on=['Squad'])
bundes_2122_merged_df = pd.merge(bundes_summary_2122_df, bundes_wages_2122_df, how="left", on=['Squad'])
bundes_2122_merged_df

,Rk_x,Squad,MP,W,D,L,GF,GA,GD,Pts,...,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Rk_y,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Bayern Munich,34,24,5,5,97,37,60,77,...,1.55,33176,Robert Lewandowski - 35,Manuel Neuer,→ Champions League via league finish,1,79,"€ 4,588,654 (£ 3,847,625, $4,676,351)","€ 238,610,000 (£ 200,076,486, $243,170,244)",27%
1,2,Dortmund,34,22,3,9,85,52,33,69,...,0.52,41800,Erling Haaland - 22,Gregor Kobel,→ Champions League via league finish,2,95,"€ 1,735,962 (£ 1,455,618, $1,769,139)","€ 90,270,000 (£ 75,692,148, $91,995,216)",65%
2,3,Leverkusen,34,19,7,8,80,47,33,64,...,0.55,17356,Patrik Schick - 24,Lukáš Hrádecký,→ Champions League via league finish,5,84,"€ 995,962 (£ 835,122, $1,014,996)","€ 51,790,000 (£ 43,426,351, $52,779,797)",71%
3,4,RB Leipzig,34,17,7,10,72,37,35,58,...,0.72,22124,Christopher Nkunku - 20,Péter Gulácsi,→ Champions League via league finish,4,85,"€ 1,038,846 (£ 871,081, $1,058,700)","€ 54,020,000 (£ 45,296,220, $55,052,414)",59%
4,5,Union Berlin,34,16,9,9,50,44,6,57,...,0.25,14046,Taiwo Awoniyi - 15,Andreas Luthe,→ Europa League via league finish,12,90,"€ 412,500 (£ 345,885, $420,384)","€ 21,450,000 (£ 17,986,007, $21,859,946)",100%
5,6,Freiburg,34,15,10,9,58,46,12,55,...,0.19,18741,Vincenzo Grifo - 9,Mark Flekken,→ Europa League via league finish,17,78,"€ 231,154 (£ 193,824, $235,572)","€ 12,020,000 (£ 10,078,872, $12,249,724)",100%
6,7,Köln,34,14,10,10,52,49,3,52,...,-0.02,31965,Anthony Modeste - 20,Marvin Schwäbe,→ Europa Conference League via league finish,10,90,"€ 556,538 (£ 466,662, $567,175)","€ 28,940,000 (£ 24,266,432, $29,493,089)",99%
7,8,Mainz 05,34,13,7,14,50,45,5,46,...,0.19,17978,Jonathan Burkardt - 11,Robin Zentner,NaN,13,81,"€ 330,385 (£ 277,030, $336,699)","€ 17,180,000 (£ 14,405,575, $17,508,339)",96%
8,9,Hoffenheim,34,13,7,14,58,60,-2,46,...,0.11,11227,Georginio Rutter - 8,Oliver Baumann,NaN,7,96,"€ 774,423 (£ 649,360, $789,224)","€ 40,270,000 (£ 33,766,731, $41,039,628)",95%
9,10,M'Gladbach,34,12,9,13,54,61,-7,45,...,0.04,26539,Jonas Hofmann - 12,Yann Sommer,NaN,6,80,"€ 909,231 (£ 762,398, $926,608)","€ 47,280,000 (£ 39,644,677, $48,183,602)",73%
10,11,Eint Frankfurt,34,10,12,12,45,49,-4,42,...,-0.16,26162,Rafael Borré - 8,Kevin Trapp,NaN,9,97,"€ 692,500 (£ 580,667, $705,735)","€ 36,010,000 (£ 30,194,688, $36,698,211)",94%
11,12,Wolfsburg,34,12,6,16,43,54,-11,42,...,0.01,12018,Lukas Nmecha - 8,Koen Casteels,NaN,3,93,"€ 1,183,269 (£ 992,181, $1,205,883)","€ 61,530,000 (£ 51,593,421, $62,705,941)",98%
12,13,Bochum,34,12,6,16,38,52,-14,42,...,-0.46,14236,Sebastian Polter - 10,Manuel Riemann,NaN,15,91,"€ 259,808 (£ 217,851, $264,773)","€ 13,510,000 (£ 11,328,246, $13,768,197)",100%
13,14,Augsburg,34,10,8,16,39,56,-17,38,...,-0.62,15197,Michael Gregoritsch - 9,Rafał Gikiewicz,NaN,11,89,"€ 461,538 (£ 387,004, $470,359)","€ 24,000,000 (£ 20,124,202, $24,458,682)",93%
14,15,Stuttgart,34,7,12,15,41,59,-18,33,...,-0.30,27052,Sasa Kalajdzic - 6,Florian Müller,NaN,14,97,"€ 302,692 (£ 253,810, $308,477)","€ 15,740,000 (£ 13,198,121, $16,040,818)",97%
15,16,Hertha BSC,34,9,6,19,37,71,-34,33,...,-0.62,23500,Stevan Jovetić - 6,Alexander Schwolow,→ German 1/2 Relegation/Promotion Play-offs,8,92,"€ 720,385 (£ 604,049, $734,152)","€ 37,460,000 (£ 31,410,525, $38,175,924)",99%
16,17,Arminia,34,5,13,16,27,53,-26,28,...,-1.08,16773,Masaya Okugawa - 8,Stefan Ortega,Relegated,18,76,"€ 204,423 (£ 171,411, $208,330)","€ 10,630,000 (£ 8,913,347, $10,833,157)",99%
17,18,Greuther Fürth,34,3,9,22,28,82,-54,18,...,-0.89,7672,Branimir Hrgota - 9,Sascha Burchert,Relegated,16,92,"€ 244,231 (£ 204,790, $248,898)","€ 12,700,000 (£ 10,649,056, $12,942,721)",98%

In [11]:
bundes_1213_complete_df = pd.merge(bundes_1213_merged_df, bundes_age_1213_df, how="left", on=["Squad"])
bundes_1314_complete_df = pd.merge(bundes_1314_merged_df, bundes_age_1314_df, how="left", on=["Squad"])
bundes_1415_complete_df = pd.merge(bundes_1415_merged_df, bundes_age_1415_df, how="left", on=["Squad"])
bundes_1516_complete_df = pd.merge(bundes_1516_merged_df, bundes_age_1516_df, how="left", on=["Squad"])
bundes_1617_complete_df = pd.merge(bundes_1617_merged_df, bundes_age_1617_df, how="left", on=["Squad"])
bundes_1718_complete_df = pd.merge(bundes_1718_merged_df, bundes_age_1718_df, how="left", on=["Squad"])
bundes_1819_complete_df = pd.merge(bundes_1819_merged_df, bundes_age_1819_df, how="left", on=["Squad"])
bundes_1920_complete_df = pd.merge(bundes_1920_merged_df, bundes_age_1920_df, how="left", on=["Squad"])
bundes_2021_complete_df = pd.merge(bundes_2021_merged_df, bundes_age_2021_df, how="left", on=["Squad"])
bundes_2122_complete_df = pd.merge(bundes_2122_merged_df, bundes_age_2122_df, how="left", on=["Squad"])
bundes_1213_complete_df.columns

Index(['Rk_x', 'Squad', 'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Pts/MP', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes',
       'Rk_y', '# Pl_x', 'Weekly Wages', 'Annual Wages', '% Estimated',
       '# Pl_y', 'Age', 'Poss', 'MP_y', 'Starts', 'Min', '90s', 'Gls', 'Ast',
       'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A',
       'G-PK', 'G+A-PK'],
      dtype='object')

In [12]:
bundes_1213_sum_complete_df = bundes_1213_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_1314_sum_complete_df = bundes_1314_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_1415_sum_complete_df = bundes_1415_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_1516_sum_complete_df = bundes_1516_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_1617_sum_complete_df = bundes_1617_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_1718_sum_complete_df = bundes_1718_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_1819_sum_complete_df = bundes_1819_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_1920_sum_complete_df = bundes_1920_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_2021_sum_complete_df = bundes_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
bundes_2122_sum_complete_df = bundes_2122_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]

In [13]:
bundes_1213_sum_complete_df = bundes_1213_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
bundes_1314_sum_complete_df = bundes_1314_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
bundes_1415_sum_complete_df = bundes_1415_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
bundes_1516_sum_complete_df = bundes_1516_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
bundes_1617_sum_complete_df = bundes_1617_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
bundes_1718_sum_complete_df = bundes_1718_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
bundes_1819_sum_complete_df = bundes_1819_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
bundes_1920_sum_complete_df = bundes_1920_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP', })
bundes_2021_sum_complete_df = bundes_2021_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP', })
bundes_2122_sum_complete_df = bundes_2122_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})

In [14]:
bundes_1213_sum_complete_df[['pounds', 'dollars']] = bundes_1213_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_1314_sum_complete_df[['pounds', 'dollars']] = bundes_1314_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_1415_sum_complete_df[['pounds', 'dollars']] = bundes_1415_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_1516_sum_complete_df[['pounds', 'dollars']] = bundes_1516_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_1617_sum_complete_df[['pounds', 'dollars']] = bundes_1617_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_1718_sum_complete_df[['pounds', 'dollars']] = bundes_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_1819_sum_complete_df[['pounds', 'dollars']] = bundes_1819_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_1920_sum_complete_df[['pounds', 'dollars']] = bundes_1920_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_2021_sum_complete_df[['pounds', 'dollars']] = bundes_2021_sum_complete_df['Annual Wages'].str.split('$', expand=True)
bundes_2122_sum_complete_df[['pounds', 'dollars']] = bundes_2122_sum_complete_df['Annual Wages'].str.split('$', expand=True)

ValueError: Columns must be same length as key

In [ ]:
bundes_1213_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1213_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_1314_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1314_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_1415_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1415_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_1516_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1516_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_1516_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1617_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_1718_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1718_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_1819_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1819_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_1920_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_1920_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_2021_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_2021_sum_complete_df['dollars'].str.split(')', expand=True)
bundes_2122_sum_complete_df[['Annual Wages ($)', 'discard']] = bundes_2122_sum_complete_df['dollars'].str.split(')', expand=True)

In [ ]:
bundes_1213_sum_cleaned_df = bundes_1213_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_1314_sum_cleaned_df = bundes_1314_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_1415_sum_cleaned_df = bundes_1415_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_1516_sum_cleaned_df = bundes_1516_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_1617_sum_cleaned_df = bundes_1718_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_1718_sum_cleaned_df = bundes_1718_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_1819_sum_cleaned_df = bundes_1819_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_1920_sum_cleaned_df = bundes_1920_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_2021_sum_cleaned_df = bundes_2021_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
bundes_2122_sum_cleaned_df = bundes_2122_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard']

In [ ]:
bundes_1213_sum_clean_sorted_df = bundes_1213_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_1314_sum_clean_sorted_df = bundes_1314_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_1415_sum_clean_sorted_df = bundes_1415_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_1516_sum_clean_sorted_df = bundes_1516_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_1617_sum_clean_sorted_df = bundes_1617_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_1718_sum_clean_sorted_df = bundes_1718_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_1819_sum_clean_sorted_df = bundes_1819_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_1920_sum_clean_sorted_df = bundes_1920_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_2021_sum_clean_sorted_df = bundes_2021_sum_cleaned_df.sort_values('Pts', ascending=False)
bundes_2122_sum_clean_sorted_df = bundes_2122_sum_cleaned_df.sort_values('Pts', ascending=False)

In [ ]:
bundes_1213_sum_clean_sorted_df['Season'] = '2012-2013'
bundes_1314_sum_clean_sorted_df['Season'] = '2013-2014'
bundes_1415_sum_clean_sorted_df['Season'] = '2014-2015'
bundes_1516_sum_clean_sorted_df['Season'] = '2015-2016'
bundes_1617_sum_clean_sorted_df['Season'] = '2016-2017'
bundes_1718_sum_clean_sorted_df['Season'] = '2017-2018'
bundes_1819_sum_clean_sorted_df['Season'] = '2018-2019'
bundes_1920_sum_clean_sorted_df['Season'] = '2019-2020'
bundes_2021_sum_clean_sorted_df['Season'] = '2020-2021'
bundes_2122_sum_clean_sorted_df['Season'] = '2021-2022'

In [ ]:
bundes_seasons_sum_df = pd.concat([bundes_1213_sum_clean_sorted_df,bundes_1314_sum_clean_sorted_df,bundes_1415_sum_clean_sorted_df,
                                    bundes_1516_sum_clean_sorted_df,bundes_1617_sum_clean_sorted_df,bundes_1718_sum_clean_sorted_df,
                                    bundes_1819_sum_clean_sorted_df,bundes_1920_sum_clean_sorted_df,bundes_2021_sum_clean_sorted_df,
                                    bundes_2122_sum_clean_sorted_df])

In [ ]:
bundes_seasons_sum_df = bundes_seasons_sum_df[['Season', 'League Rank', 'Squad', '# of Players', 'Avg Age',
                                                 'Avg Poss', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
                                                 'Attendance', 'Annual Wages ($)']]

bundes_seasons_sum_df['Annual Wages ($)'] = bundes_seasons_sum_df['Annual Wages ($)'].map(lambda x: x.replace(',', ''))

bundes_seasons_sum_df['Annual Wages ($)']=bundes_seasons_sum_df['Annual Wages ($)'].astype(float)
bundes_seasons_sum_df["League"] = "Bundesliga"
bundes_seasons_sum_df = bundes_seasons_sum_df.reset_index()
bundes_seasons_sum_df.groupby('Season')["Annual Wages ($)"].mean()

In [ ]:
bundes_seasons_sum_df.to_csv('Data Scrapping/bundes_seasons_sum.csv', index=False)